@forward "variables";

@import "@unocss/reset/tailwind-compat.css";
@import "scrollbars";

:root {
    font-size: 16px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
